extends layout
block content
  .container-fluid
    .row.title-bar
      .col-xs-0.col-md-2
      .col-xs-11.col-md-8
        h1
          span.glyphicon.glyphicon-cutlery
          &nbsp
          = title
        p Let's get ready to munch.
      .col-xs-0.col-md-2
  include ./map_body.jade
  include ./map_footer.jade