doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='//www.uber.com/favicon.ico')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ./map_head.jade
  body.hide
    block content
    include ./map_body.jade
    include ./map_footer.jade