meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel='shortcut icon', href='//www.uber.com/favicon.ico')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')