.container-fluid
  .row
    .col-xs-0.col-md-2
    .col-xs-12.col-md-8
      #mapPlaceholder
        #loading
          h1 Loading...
    .col-xs-0.col-md-2

.container-fluid
  .row
    .col-xs-0.col-md-2
    .col-xs-12.col-md-8
      table#trucks.table.table-striped.table-hover.table-responsive
        thead
          h2 Food Trucks
        tbody#truckList
    .col-xs-0.col-md-2
